#title{
    background-color:darkcyan;
    color:white
}

#inputWrapper{
    background-color: gainsboro;
    height:100%
}

#uvindex{
    border: 1px solid black;
    padding: 5px 8px;
    border-radius:5px;
}

.favorableUV{
    background-color: green;

} 

.moderateUV{
    background-color: yellow;
} 

.severeUV{
    background-color: red;
}

#searchCards button{
    width:100%;
    background-color: burlywood;
    height:50px;
    font-weight: bold;
    border-radius: 10px;
    color: black;
}

h6{
    font-weight: bold;
}

button{
    margin-bottom: 20px;
}

#formInput{
    margin-bottom: 30px;
    border-bottom: 5px gray solid;
}

#todayCont{
    border:2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    height:350px;
}

#overallData p,
#City-Name-Date {
    font-weight: bold;
    margin-left: 50px
}

#overallData span {
    margin-left: 10px;
}

#weatherCards div{
    background-color: rgb(65, 65, 65);
    margin-top:30px;
    margin-left:30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}

#searchCards p{
    margin-bottom: 0;
}

:hover #searchCards button{
    cursor: pointer;
}